<!DOCTYPE html>
<html>
<head>
  <title>Love</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

<script type="text/javascript" src="http://use.typekit.com/cpb3tvw.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>

<%= yield %>

</body>
</html>
